.container-wallet{
	height: 100vh;
	position: fixed;
	width: 100%;
}

.wallet-data {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.wallet-data form{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: rgb(9, 25, 47);
	height: 60px;
}

form input, form select{
	margin: 0 5px 0 5px;
	border-radius: 5px;
}

@media screen and (max-width: 900px) {


	.wallet-data input{
		margin-top: 3px;
		height: 10px;
	  	width: 50px;
	}

	.wallet-data select{
		height: 20px;
	  	width: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		
	}

	.wallet-data button{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		color:black;
		font-size: 7px;
		height: 20px;
		width: 35px;
	  }

	.wallet-data label{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

	}

	form input, form select{
		font-size: 8px;
	}
}