header{
	height: 30%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	color: black;
}

.login-email{
	width: 150px;
}

.content-header{
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.div-logo img{
	height: 20px;
	width: 100px;
}

.valor-content{
	display: flex;
	height: 20px;
	align-items: center;
}

.valor-content p{
	margin-right: 5px
}

@media screen and (max-width: 900px) {
	body {
	  font-size: 8px;
	}
	header{
		height: 20%;
	}
	.login-email{
		width: 100px;
	}

	.valor-content p{
		margin-right: 5px;
	}

	.content-header{
		display: flex;
		justify-content: space-around;
		width: 70% !important;
		align-items: center;
	}

	.valor-content{
		display: flex;
	}
	select{
		font-size: 8px;
		height: 60%;
	}
	.valor-content{
		display: flex;
		align-items: center;
	}
  }